<br>

<form method="POST" action="/merchants/<%= @merchant.id %>">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="name">Name:</label>
      <input type="text" value="<%= @merchant.name %>" name="name" id="name"/>
    </div>

    <div class="form-el">
      <label>Select Category:</label>
      <select name="default_cat_id" class="dropdown">
        <% @categories.each do |category| %>
            <option value=<%= category.id %>
              <%= "selected" if category.id == @merchant.default_cat_id %>
              ><%= category.name.capitalize %></option>
        <% end %>
      </select>
    </div>

    <div class="form-el">
      <label>Active:</label>
      <select name="active" class="dropdown">
        <option value="true"
        <%= "selected" if @merchant.active == true %>
        >Active</option>
        <option value="false"
        <%= "selected" if @merchant.active == false %>
        >Inactive</option>
      </select>
    </div>
<br>
    <div class="form-el">
      <input type="submit" value="Edit Merchant"/>
    </div>

  </div>
</form>
