<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Budgeting App</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/budgets?month=<%= Date.today.month %>&year=<%= Date.today.year  %>">Budgeting</a></li>
        <li><a href="/transactions?month=<%= Date.today.month %>&year=<%= Date.today.year  %>">Transactions</a></li>
        <li><a href="/merchants">Merchants</a></li>
        <li><a href="/categories">Categories</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
