<form method="POST" action="/transactions/<%= @transaction.id %>">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="merchant_select">Select Merchant:</label>
      <select name="merchant_id" id="merchant_select">
        <% @merchants.each do |merchant| %>
            <option value="<%= merchant.id %>"
              <%= "selected" if @transaction.merchant_id == merchant.id %>>
              <%= merchant.name.capitalize %></option>
        <% end %>
      </select>
    </div>


    <div class="form-el">
      <label for="amount">Amount:</label>
      <input value="<%= @transaction.amount %>" type="number" name="amount" id="amount"/>
    </div>

    <div class="form-el">
      <label for="date">Date:</label>
      <input value="<%= @transaction.date %>" type="date" name="date" id="date"/>
    </div>

    <% if params['is_bill'] != nil %>
      <div class="form-el">
        <label for="end_date">End Date:</label>
        <input value="<%= @bill.end_date %>" type="date" name="end_date" id="end_date"/>
      </div>

      <input type="hidden" id="is_bill" name="is_bill" value="true">
      <input type="hidden" id="bill_id" name="bill_id" value="<%=@transaction.bill_id%>">
    <% end %>

    <div class="form-el">
      <input type="submit" value="Edit Transaction"/>
    </div>

  </div>
</form>
