<h3 class="monthbutton">
  <a href="/budgets?month=
  <%= @prevmonth.month %>&year=<%= @prevmonth.year %>
  ">Previous Month</a></h3>
    <h3 class="monthbutton"><%= Date::MONTHNAMES[@date.month] %> <%= @date.year %></h3>
    <h3 class="monthbutton"><a href="/budgets?month=<%= @nextmonth.month %>&year=<%= @nextmonth.year %>
   ">Next Month</a><h3>
 </h3>

<table>
  <tr>
    <th>Merchant</th>
    <th>Category</th>
    <th>Amount</th>
    <th>Date</th>
    <th> </th>

  </tr>
  <% for transaction in @transactions %>
  <tr><% for merchant in @merchants %>
    <%= "<th>#{merchant.name}</th>" if transaction.merchant_id == merchant.id %>
    <% end %>
     <% for category in @categories %>
     <%= "<th>#{category.name.capitalize}</th>" if transaction.category_id == category.id %>
     <% end %>
     <th>£<%= transaction.amount %></th>
     <th><%= transaction.date %></th>
     <th><a href="/transactions/<%= transaction.id %>">Details</a></th>

   </tr>

  <% end %>
</table>
<p>Total: £<%= @total %></p>

<% if params['category_id'] == nil %>
<h3 style="
<% if @budgetremaining < 0 %>
  background:red;width:500px;
<% elsif @budgetremaining <= 100%>
  background:yellow;width:500px;
<% end %>
">Remaining Monthly Budget: £<%= @budgetremaining %></h3>
<h3>Income: £<%= @budget.income %></h3>
<h3>Savings Target: £<%= @budget.target %></h3>
<% end %>

<form method="get" action="/budgets">
  <div class="form-wrapper">

    <div class="custom-select" style="width:200px;">
      <label>Filter by:</label>
      <select name="category_id" class="dropdown">
        <% @categories.each do |category| %>
            <option value=<%= category.id %>><%= category.name.capitalize %></option>
        <% end %>
      </select>

    <input type="hidden" id="month" name="month" value="<%= @date.month %>">
    <input type="hidden" id="year" name="year" value="<%= @date.year %>">

      <input type="submit" value="Filter"/>
    </div>

  </div>

  <h3 class="button"><a href="/transactions/new">Add New Transaction</a></h3>
  <h3 class="button"><a href="/transactions/new?is_bill=true">Add New Bill</a></h3>
  <h3 class="button"><a href="/budgets/edit">Edit Budgeting</a></h3>
</form>
