<h3>
  <a href="/budgets?month=
  <%= @prevmonth.month %>&year=<%= @prevmonth.year %>
  ">Previous Month</a>
   - <%= Date::MONTHNAMES[@date.month] %> - <%= @date.year %> -
   <a href="/budgets?month=<%= @nextmonth.month %>&year=<%= @nextmonth.year %>
   ">Next Month</a>
 </h3>

<ul>
  <% for transaction in @transactions %>
  <li><% for merchant in @merchants %>
    <%= merchant.name if transaction.merchant_id == merchant.id %>
    <% end %>
     - <% for category in @categories %>
     <%= category.name.capitalize if transaction.category_id == category.id %>
     <% end %> - £<%= transaction.amount %>  -
     <%= transaction.date %> -
     <a href="/transactions/<%= transaction.id %>">Details</a>
     - <a href="/transactions/<%= transaction.id %>/edit">Edit</a>
     -
     <a href="/transactions/<%= transaction.id %>/delete">Delete</a>
   </li>

  <% end %>
</ul>
<p>Total: £<%= @total %></p>

<h3>Remaining Monthly Budget: £<%= @budgetremaining %></h3>
<h3>Income: £<%= @budget.income %></h3>
<h3>Savings Target: £<%= @budget.target %></h3>
<h3><a href="/budgets/edit">Edit Budgeting</a></h3>
