<h3>
  <a href="/budgets?month=
  <%= @prevmonth.month %>&year=<%= @prevmonth.year %>
  ">Previous Month</a>
   - <%= Date::MONTHNAMES[@date.month] %> - <%= @date.year %> -
   <a href="/budgets?month=<%= @nextmonth.month %>&year=<%= @nextmonth.year %>
   ">Next Month</a>
 </h3>

<ul>
  <% for transaction in @transactions %>
  <li><% for merchant in @merchants %>
    <%= merchant.name if transaction.merchant_id == merchant.id %>
    <% end %>
     - <% for category in @categories %>
     <%= category.name.capitalize if transaction.category_id == category.id %>
     <% end %> - £<%= transaction.amount %>  -
     <%= transaction.date %> -
     <a href="/transactions/<%= transaction.id %>">Details</a>
     - <a href="/transactions/<%= transaction.id %>/edit">Edit</a>
     -
     <a href="/transactions/<%= transaction.id %>/delete">Delete</a>
   </li>

  <% end %>
</ul>
<p>Total: £<%= @total %></p>

<% if params['category_id'] == nil %>
<h3>Remaining Monthly Budget: £<%= @budgetremaining %></h3>
<h3>Income: £<%= @budget.income %></h3>
<h3>Savings Target: £<%= @budget.target %></h3>
<h3><a href="/budgets/edit">Edit Budgeting</a></h3>
<% end %>

<form method="get" action="/budgets">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="category_select">Filter by:</label>
      <select name="category_id" id="category_select">
        <% @categories.each do |category| %>
            <option value=<%= category.id %>><%= category.name.capitalize %></option>
        <% end %>
      </select>
    </div>

    <input type="hidden" id="month" name="month" value="<%= @date.month %>">
    <input type="hidden" id="year" name="year" value="<%= @date.year %>">

    <div class="form-el">
      <input type="submit" value="Filter"/>
    </div>

  </div>
</form>
